<h2>Download Info</h2>
<% remote_form_for(@download) do |f| %>
  <%= f.error_messages %>
<table class="span-5">
	<tr>
		<th><%= f.label :id, "Download ID" %></th>
		<th><%= f.label :active %></th>
		<th><%= f.label :approved %></th>
		<th><%= f.label :created_by %></th>
	</tr>
	<tr>
	 	<td>
			<%=h @download.id%>
	  	</td>
	  	<td>
	    	<%= f.check_box :active %>
		</td>
		<td>
			<%= f.check_box :approved %>
		</td>
		<td>
			<%=h @download.created_by %>
		</td>
	</tr>
</table>
<p>
<%= f.submit 'Update' %>
<span id="downloadupdateresults_<%=h @download.id %>"></span>
</p>
<% end %>

<h2>Releases</h2>
<% @download.releases.each do |rls| %>

<%end%>

<% @download.releases.each do |rls| %>
	<% form_for(rls) do |f| %>
		<%= f.error_messages %>
		<div class="span-2">
	    	<%= f.label :release_type_id, "Release Type" %><br />
			<%= f.collection_select(:release_type_id, @release_types, :id, :name) %>
	  	</div>
		<div class="span-4">
	    	<%= f.label :notes %><br />
			<%= f.text_area :notes, :class => "span-4 inline"%>
	  	</div>
		<div class="span-3">
	    	<%= f.label :locations, "Locations" %><br />
			<%= rls.locations.map{|loc| truncate(File.basename(loc.location), 35)}[0,3].join("<br/>") if !rls.locations.nil? %>
	  	</div>
		<div class="span-2">
			<%= f.label :created_at %><br />
			<%=h rls.created_at %>
	    </div>
		<div class="span-2 last">
			<%= f.label :actions %><br />
			<%= f.submit 'Update' %>
		</div>
	<% end %>
	<hr/>
<%end%>