<h2>Download List</h2>
<div class="downloadlist">
<% @downloads.each do |download| %>
<div class="download span-20 last" id="download_<%=h download.id%>">
	<%=raw peg(download.resource) %>
	<div class="span-5">
	<%= render :partial => "downloads/download_info", :locals => {:download => download} %>
	</div>
	<div class="span-3 last">
		<h2>Actions</h2>
		<%= link_to 'Approve', approve_download_path(download), 
			:remote => true,
			:method => :post, 
			:class => "approvalbutton button positive" %>
		<%= link_to 'Edit', edit_polymorphic_path(download.resource), :class => "button negative" %>
	</div>
</div>
<% end %>
<%= will_paginate @downloads %>
</div>