<div class="peg span-12 last">
	<div class="span-3">
	<%= image_tag(movie.poster.url, :class => "span-3", :alt => "movie poster") if movie.posterurl %>
	</div>
	<h3><%=h movie.title %></h3>
	<div class="span-9">
		<p class="synopsis"><%=h movie.synopsis %></p>
		<ul>
			<li><%=	"Year: #{movie.year}" if movie.year %></li>
			<li><%=	"Directed by: #{movie.director}" if movie.director%></li>
			<li><%= "IMDB Rating: #{movie.imdbrating} "%> <%= link_to "Visit IMDB page", 'http://www.imdb.com/title/tt' + movie.imdbid if movie.imdbid %></li>
			<li><%=	"Length: #{length_of_time_in_words(movie.length.minutes)}" if movie.length%></li>
			<li><%=	"Language: #{movie.language}" if movie.language %></li>
		</ul>
	</div>
</div>