<div class="box intro">
	<div class="spethial">
		<h2>Newest Addition</h2>
		<div class="float col width_240">
		<%= image_tag(movie.posterurl, :class => "width_240 poster", :alt => "movie poster") if movie.posterurl %>
		</div>
		<div class="col">
			<h3><%=h movie.title %></h3>
			<p class="synopsis"><%=h movie.synopsis %></p>
			<ul>
				<%=	"<li>Year: #{movie.year}</li>" if movie.year %>
				<%=	"<li>Directed by: #{movie.director}</li>" if movie.director%>
				<%= "<li>IMDB Rating: #{movie.imdbrating} #{link_to "Visit IMDB page", 'http://www.imdb.com/title/tt' + movie.imdbid}</li>" if movie.imdbid%>
				<%=	"<li>Length: #{length_of_time_in_words(movie.length.minutes)}</li>" if movie.length%>
				<%=	"<li>Language: #{movie.language}</li>" if movie.language%>
				<%=	"<li>Release Type: #{movie.releasetype}</li>" if movie.releasetype%>
				<%=	"<li>Release Notes: #{movie.releasenotes}</li>" if movie.releasenotes%>
			</ul>
			<% if movie.download.releases %>
				<h4>Releases</h4>
				<ul>
				<% movie.download.releases.each do |f| %>
				<li><%=h f.release_type.type%></li>
				<% end %>
				</ul>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
</div>