<div class="peg span-12 last">
	<div class="span-3">
	<%= image_tag(movie.posterurl, :class => "span-3", :alt => "movie poster") if movie.posterurl %>
	</div>
	<h3><%=h movie.title %></h3>
	<div class="span-9">
		<p class="synopsis"><%=h movie.synopsis %></p>
		<ul>
			<%=	"<li><strong>Year</strong>: #{movie.year}</li>" if movie.year %>
			<%=	"<li><strong>Directed by</strong>: #{movie.director}</li>" if movie.director%>
			<%= "<li><strong>IMDB Rating</strong>: #{movie.imdbrating} #{link_to "Visit IMDB page", 'http://www.imdb.com/title/tt' + movie.imdbid}</li>" if movie.imdbid %>
			<%=	"<li><strong>Length</strong>: #{length_of_time_in_words(movie.length.minutes)}</li>" if movie.length%>
			<%=	"<li><strong>Language</strong>: #{movie.language}</li>" if movie.language%>
		</ul>
	</div>
</div>