<% boxtitle ||= "Movies"%>
<h2><%=	boxtitle %></h2>
<div class="movie downloadlist">
<table>
  <tr>
    <th class="title">Title</th>
	<th>IMDB Rating</th>
    <th>Year</th>
    <th>Director</th>
    <th>Length</th>
	<th>Actions</th>
  </tr>

<% movie_list.each do |movie| %>
  <tr class="<%= cycle("", "altrow")%>">
	<td>
	<%=h movie.title %>
	</td>
	<td><%= 
	if movie.imdbid 
		link_to movie.imdbrating, 'http://www.imdb.com/title/tt' + movie.imdbid 
	else 
		movie.imdbrating
	end %></td>
    <td><%=h movie.director %></td>
	<td><%=h movie.year %></td>    
    <td><%= movie.length ? length_of_time_in_words(movie.length.minutes) : " -- " %></td>
	<td class="actions">
		<%= link_to_remote( "", 
							:update => "mainmovie", 
							:url => { :action => "show", :id => movie.id}, 
							:method => :get, 
							:html => {
								:class => "ss_sprite ss_film_go"
								}) 
		%>
		<%= link_to '', edit_movie_path(movie), :class => "ss_sprite ss_film_edit" %>
		<%= link_to_download movie, 'mainmovie' %>
	</td>
  </tr>
<% end %>
</table>
<% page_param ||= 'movie_page' %>
<%= will_paginate movie_list if movie_list.respond_to?('total_pages') %>
</div>