<div class="spethial">
	<h2><%=h boxtitle ||= "Movie Details"%></h2>
	<div class="span-5 last">
		<h3><%=h movie.title %></h3>
		<p class="synopsis"><%=h movie.synopsis %></p>
		<ul>
			<%=	"<li>Year: #{movie.year}</li>" if movie.year %>
			<%=	"<li>Directed by: #{movie.director}</li>" if movie.director%>
			<%= "<li>IMDB Rating: #{movie.imdbrating} #{link_to "Visit IMDB page", 'http://www.imdb.com/title/tt' + movie.imdbid}</li>" if movie.imdbid%>
			<%=	"<li>Length: #{length_of_time_in_words(movie.length.minutes)}</li>" if movie.length%>
			<%=	"<li>Language: #{movie.language}</li>" if movie.language%>
		</ul>
		<%= render :partial => 'releases/releases_list', :locals => {:releases => movie.download.releases} %>
	</div>
	<div class="span-5">
	<%= image_tag(movie.posterurl, :class => "span-5", :alt => "movie poster") if movie.posterurl %>
	</div>
	<!-- <div class="clear"></div> -->
</div>