<h1>Editing movie</h1>
<div class="span-7">
	<h2>Movie Info</h2>
<% form_for(@movie) do |f| %>
  <%= f.error_messages %>

  <p>
	<%= f.label :title %><br />
	<%= f.text_field :title, :class => "span-6 last" %>
  </p>
  <p>
	<%= f.label :year %><br />
	<%= f.text_field :year, :class => "span-3" %>
  </p>
  <p>
	<%= f.label :director %><br />
	<%= f.text_field :director, :class => "span-3" %>
  </p>
  <p>
	<%= f.label :imdbid, "IMDB ID" %> 
	<%= link_to "change", {:action => "imdb", :id => @movie.id},
							:remote => true,
							:update => "imdbchange", 
							:method => :get, 
							:id => "imdbedit",
							:class => "small"
	%>
<br />
	<%= f.text_field :imdbid, :class => "span-3", :disabled => true %>

  </p>

  <p>
	<%= f.label :imdbrating, "IMDB Rating" %><br />
	<%= f.text_field :imdbrating, :class => "span-3" %>
  </p>
  <p>
	<%= f.label :synopsis %><br />
	<%= f.text_area :synopsis %>
  </p>
  <p>
	<%= f.label :tagline %><br />
	<%= f.text_area :tagline, :class => "short" %>
  </p>
  <p>
	<%= f.label :length %><br />
	<%= f.text_field :length, :class => "span-2" %>
  </p>
  <p>
	<%= f.label :language %><br />
	<%= f.text_field :language, :class => "span-2" %>
  </p>
  <p>
	<%= f.submit 'Update' %>
  </p>
<% end %>
</div>
<div class="span-13 last">
	<div id="imdb" style="display: none;">
		<h2>Movie IMDB Information</h2>
		<div id="imdbchange"></div>
	</div>
	<%= render(:partial => "downloads/download_releases_info") %>
</div>
