<% boxtitle ||= "Albums"%>
<h2><%=	boxtitle %></h2>

<div class="movie downloadlist">
<table>
  <tr>
    <th class="title">Title</th>
    <th>Artist</th>
	<th>Tracks</th>
    <th>Last.FM</th>
	<th>Actions</th>
  </tr>

<% album_list.each do |album| %>
  <tr>
    <td><%=h album.name %></td>
    <td><%= link_to album.artist.name, artist_path(album.artist) %></td>
    <td><%=h album.tracks.length %></td>
    <td><%= link_to "link", album.url %></td>
	<td class="actions">
		<%= link_to "", {:action => "show", :id => album.id},
							:update => "mainalbum", 
							:remote => true, 
							:method => :get, 
							:class => "ss_sprite ss_cd_go"
		%>
		<%= link_to '', edit_album_path(album), :class => "ss_sprite ss_cd_edit" %>
		<%= link_to_download album, 'mainalbum' %>
	</td>
  </tr>
<% end %>
</table>
<% page_param ||= 'albums_page' %>
<%= will_paginate album_list, :param_name => page_param if album_list.respond_to?('total_pages')%>
</div>