<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<link href="stylesheets/style.css" type="text/css" rel="stylesheet">
		<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="stylesheets/style_ie7.css"><![endif]-->
		<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="stylesheets/style_ie6.css"><![endif]-->
		
		<script type="text/javascript" src="javascripts/jquery-1.2.6.min.js"></script>
		<script type="text/javascript" src="javascripts/misc.js"></script>
		<script type="text/javascript" src="javascripts/jquery.tablesorter.min.js"></script>
		
		<title>
			<%= controller.controller_name %>: <%= controller.action_name %>
		</title>
		
	</head>
	<body>
		<div id="container">
		    <div id="header">
		        <div class="sidebar col width_240 last">
		            <div class="uberadmin"> <img src="images/brand.gif" alt="Überadmin" class="Überadmin" /> <a href="#">settings</a> </div>
		            <div class="sitemeta">
		                <p><%= ['scurvy', link_to (controller.controller_name, :controller => controller.controller_name, :action =>'index') , link_to (controller.action_name, :controller => controller.controller_name, :action =>controller.action_name)].join(' > ')  %></p>
		            </div>
		        </div>
		        <div class="col width_full last">
		            <div class="main-nav">
		                <ul class="user">
		                    <li class="profile">Welcome <a href="#">Administrator</a></li>
							<% if !current_user %> 
								<li><%= link_to "Register", new_account_path %></li>
								<li><%= link_to "Log In", new_user_session_path %></li>
							<% else %> 
								<li><%= link_to "Profile", account_path %></li>
								<li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
							<% end %>
		                </ul>
		                <ul class="menu">
		                    <li><a>dashboard</a></li>
		                    <li class="active"><a href="page.html">add</a></li>
		                    <li><a href="page.html">manage</a></li>
		                    <li><a href="page.html">users</a></li>
		                    <li><a href="page.html">statistics</a></li>
		                </ul>
		            </div>
		            <div class="sub-nav">
						<a class="quicks">Quick Links</a>
						<ul class="quick-links">
		                    <li><a href="#">Add new post</a></li>
		                    <li><a href="page.html">View statistcs</a></li>
		                    <li><a href="page.html">Setting</a></li>
		                    <li><a href="page.html">Permissions</a></li>
		                    <li><a href="page.html">link</a></li>
						</ul>
		                <ul class="submenu">
		                    <li class="active"><a>post</a></li>
		                    <li><a href="page.html">page</a></li>
		                    <li><a href="page.html">category</a></li>
		                    <li><a href="page.html">media</a></li>
		                    <li><a href="page.html">link</a></li>
		                </ul>
		            </div>
		        </div>
		    </div>
		    <!-- #header end -->
		    <div id="content">
		        <div class="sidebar col width_240 last">
		            <ul class="widgets">
		                <li class="widget">
		                    <div class="widget-head">
		                        <h5>Latest Movies</h5>
		                    </div>
		                    <div class="widget-content">
		                        <ul>
		                            <li><a href="#">Article Title 1</a></li>
		                            <li><a href="#">Article Title 2</a></li>
		                            <li><a href="#">Article Title 3</a></li>
		                            <li><a href="#">Article Title 4</a></li>
		                            <li><a href="#">Article Title 5</a></li>
		                            <li><a href="#">Article Title 6</a></li>
		                        </ul>
		                    </div>
		                    <!-- .widget end -->
		                </li>
		                <li class="widget">
		                    <div class="widget-head">
		                        <h5>Latest Comments</h5>
		                    </div>
		                    <div class="widget-content">
		                        <ul>
		                            <li><a href="#">Service 1</a></li>
		                            <li>Service 2</li>
		                            <li>Service 3</li>
		                            <li>Service 4</li>
		                            <li>Service 5</li>
		                            <li>Service 6</li>
		                        </ul>
		                    </div>
		                    <!-- .widget end -->
		                </li>
		                <li class="widget">
		                    <div class="widget-head">
		                        <h5>Statistics</h5>
		                    </div>
		                    <div class="widget-content">
		                        <ul>
		                            <li><a href="#">Service 1</a></li>
		                            <li>Service 2</li>
		                            <li>Service 3</li>
		                            <li>Service 4</li>
		                            <li>Service 5</li>
		                            <li>Service 6</li>
		                        </ul>
		                    </div>
		                    <!-- .widget end -->
		                </li>
		                <li class="widget">
		                    <div class="widget-head">
		                        <h5>Search</h5>
		                    </div>
		                    <div class="widget-content">
		                            <form>
		                            <input type="text" size="16" maxlength="128" />
		                            <input type="button" class="btn search" value="Search" />
		                            </form>
		                    </div>
		                    <!-- .widget end -->
		                </li>
		            </ul>
		        </div>
		        <!-- .col .width_280 end -->
		        <div class="col width_full">
				<% [:error, :notice, :success].each do |f| %>
					<% if flash[f] -%>
					<div class="<%= f%>">
						<%= flash[f] %>
					</div>
					<% end %>
				<% end %>
		   		<%= yield  %>
		        </div>
		        <!-- .col .width_280 .main end -->
		    </div>
		    <!--- #content end -->
		    <div id="footer">
		        <p class="right">Copyright &copy; 2008 Vintage. All rights reserved. Valid HTML &amp; CSS</p>
		    </div>
		    <!-- #footer end -->
		</div>
		<!-- #container end -->
		<script type="text/javascript" src="js/jquery-ui-personalized-1.6rc2.min.js"></script>
		<script type="text/javascript" src="js/widgets.js"></script>
	</body>
</html>
