<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print">	
		<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		<link rel="stylesheet" href="/stylesheets/scurvy.css" type="text/css">
		
		<title>
			<%= controller.controller_name %>: <%= controller.action_name %>
		</title>
		
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag "jquery.autocomplete" %>
	</head>
	<body>
		<div class="container">
		    <div id="header">
		        <div class="sidebar span-4">
		            <div class="sitemeta">
		                <p><%=['scurvy', link_to(controller.controller_name, :controller => controller.controller_name, :action =>'index'), link_to(controller.action_name, :controller => controller.controller_name, :action =>controller.action_name)].join(' > ')  %></p>
		            </div>
		        </div>
				<div id="account">
						Welcome <%=h current_user.login %> | <%= link_to "Profile", account_path %> | <%= link_to "Logout", logout_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
				</div>
				<div id="nav">
					<% semantic_menu do |root|
					  root.add "dashboard", root_path
					  root.add "movies", movies_path
					  root.add "music", albums_path
					end %>
				</div>
		    </div>
		    <!-- #header end -->
		    <div id="content">
		        <div class="sidebar span-4">
	               	<%= render(:partial => controller.controller_name + "/sidebar" ) %>
	                <div class="widget">
	                    <div class="widget-head">
	                        <h2>Search scurvy</h2>
	                    </div>
	                    <div class="widget-content">
	                            <form>
	                            <input type="text" class="span-2 last"/>
	                            <input type="button" class="btn search" value="Search" />
	                            </form>
	                    </div>
	                    <!-- .widget end -->
	                </div>
		        </div>
				<% [:error, :notice, :success].each do |f| %>
					<% if flash[f] -%>
					<div class="push-4 span-12 <%= f%> last">
						<%= flash[f] %>
					</div>
					<% end %>
				<% end %>
				<div class="span-20 last">
		   		<%= yield  %>
				</div>
		    </div>
			<div class="clear"></div>
		    <!--- #content end -->
		    <div id="footer" class="span-22 push-1 last">
<%=h @tagline %> Please give any feedback on this site to Harry.
		    </div>
		</div>
		<!-- #container end -->
	</body>
</html>
